header {
    position: fixed;
    top: 0;
    background-color: var(--vests-clr);
    z-index: 111;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 4px #111;
    transition: background-color 300ms linear;
}
header.cardigans-section { background-color: var(--cardigans-clr); }
header.watches-section { background-color: var(--watches-clr); }

h1 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--light-text-clr);
}
    h1 .logo {
        height: 3rem;
        padding: 0 .5rem;
    }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
    li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--theme-clr);
        font-size: 1rem;
        padding: .25rem 1rem;
        transition: all 200ms linear;
    }
        a:hover {
            color: var(--dark-text-clr);
            background-color: var(--theme-clr);
        }

section {
    grid-template-columns: 1fr;
    position: relative;
}
    section .controls {
        position: absolute;
        bottom: 22vh;

        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .pointer-left, 
    .pointer-right {
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        transition: transform 100ms linear;
        /* padding: .5rem; */
        border: 2px solid var(--theme-clr);
        border-radius: 50%;
        background-color: var(--vests-clr);
        box-shadow: 0 0 4px 2px #222;
    }
        #cardigans .pointer-left { background-color: var(--cardigans-clr); }
        #cardigans .pointer-right { background-color: var(--cardigans-clr); }
        #watches .pointer-left { background-color: var(--watches-clr); }
        #watches .pointer-right { background-color: var(--watches-clr); }

    .pointer-left {
        transform: rotate(180deg);
    }
        .pointer-left:hover, 
        .pointer-right:hover {
            background-color: transparent;
        }
        #cardigans .pointer-left:hover { background-color: transparent; }
        #cardigans .pointer-right:hover { background-color: transparent; }
        #watches .pointer-left:hover { background-color: transparent; }
        #watches .pointer-right:hover { background-color: transparent; }

        .pointer-right:active {
            transform: scale(.95);
            box-shadow: 0 0 1px 1px #222;
        }
        .pointer-left:active {
            transform: scale(.95) rotate(180deg);
            box-shadow: 0 0 1px 1px #222;
        }

        .pointer-left:focus, 
        .pointer-right:focus {
            background-color: none;
        }

section .category {
    width: 90vw;
    height: 15vh;
    margin: 0 auto;
    transform: translateY(-1.5rem);
    order: 2;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: var(--theme-clr);
    outline: 2px solid var(--theme-clr);
    outline-offset: -1rem;
}
    .category h2 {
        font-size: 4rem;
    }

section .slider {
    width: 100vw;
    height: 85vh;
    order: 1;
    display: inline-flex;
    transform: translateX(0);
    transition: transform 600ms ease-in-out;
    /* cursor: grab;    */
    position: relative;  
}
    .slider .item {
        min-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        opacity: .3;
        transform: scale(.3);
        transition: all 700ms ease-out;
    }
    .slider .item[data-active] {
        opacity: 1;
        transform: scale(1);
    }
        .item img {
            height: 40vh;
        }